<form action="/action_page.php">
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text"[(ngModel)]="loginData.email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="loginData.password" placeholder="Enter Password" name="psw" required>
    <input type="checkbox"  value="other"> Remember Me<br>
   
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" (click)="loginUser()" class="registerbtn">Login</button>
  </div>
  
  
</form>